@bg-color: #000000;
@font-color: #ff1414;

html {
  height: 100%;
  body {
    height: 100%;
    background-color: @bg-color;
    color: @font-color;
  }
  div.container{
    min-height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}

ul {
  li {
    list-style-type: none;
    float: left;
    img {
      margin: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
footer{
  clear: both;
}

