@bg-color: #000000;
@font-color: #ff1414;
@modal-bg-color: #dddddd;

@list-z-index: 5;
@kill-z-index: 6;
@mask-z-index: 9;
@modal-z-index: 10;

html {
  height: 100%;
  body {
    height: 100%;
    background-color: @bg-color;
    color: @font-color;
  }
  div.container{
    min-height: 100%;
    position: relative;

    h2.page-title {
      float: left
    }

    h3.survive-player {
      padding-top: 30px;
      text-align: right;
    }

    div.player-list, div.sidebar {
      padding-bottom: 15px;
    }
    div.footer {
      position: absolute;
      bottom: 0;
      height: 15px;
      vertical-align: bottom;
    }
  }
}

div.player-list {
  width: 100%;
  float: left;
  margin-right: -250px;

  ul.player-list {
    margin-right: 250px;

    li.player {
      position: relative;
      list-style-type: none;
      float: left;

      img {
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        z-index: @list-z-index;
      }

      p.player-vote {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: whitesmoke;
        font-size: 1cm;
        font-weight: bold;
      }
    }
  }
}

div.sidebar {
  color: white;
  font-weight: bold;
  font-size: xx-large;

  float:left;
  width:250px;


  div.date-title {

    span.day-number {
    }

    span.date-operation {
      position: relative;

      span.date-up {
        position: absolute;
        top: 0;
        left: 0;
        font-size: small;
        cursor: pointer;
      }

      span.date-down {
        position: absolute;
        top: 17px;
        left: 0;
        font-size: small;
        cursor: pointer;
      }
    }
  }

  div.role-list {
    h4.role-title {
      font-size: x-large;
      padding-left: 10px;
    }
    ul.role-list {
      li.role, li.add-role {
        list-style-type: none;
        font-size: x-large;
      }
    }
  }

  div.sidebar-operations {
    margin-top: 200px;

    ul.operation-buttons {
      li.operation-button {
        list-style-type: none;
      }
    }

    button {
      margin-left: 40px;
    }

    button.vote-result {
    }

    button.reset-vote {

    }
  }
}

button {
  font-size: large;
  margin-top: 20px;
  margin-bottom: 5px;
}
footer{
  clear: both;
}

div#modal {
  position: absolute;
  background: @modal-bg-color;
  top: 150px;
  left: 200px;
  width: 630px;
  height: 350px;
  padding: 20px;
  padding-top: 10px;
  z-index: @modal-z-index;

  div.modal-name {
    color: #9038a3;
    position: relative;

    span.player-name {
      width: 80%;
      font-weight: bold;
      font-size: xx-large;
    }

    span.close {
      color: black;
      text-align: center;
      font-size: x-large;
      background: #c9c9c9;
      margin: 0px;
      padding: 0px;
      width: 30px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  div.left-menu {
    float: left;
  }

  div.modal-image {
    float: left;

    img {
      border: solid 1px;
      border-color: black;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  div.right-menu {
    input.vote-number {
      font-size: large;
      width: 40px;
    }
  }
}

div.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: @mask-z-index;
  background: white;
}

.hide {
  display: none;
}

li.kill-player {
  text-decoration: line-through;

  img.kill-image {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
  }

  span.killed-day {
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: whitesmoke;
  }
}

img.day-kill {
  z-index: @kill-z-index;
}

img.night-kill {
  z-index: @kill-z-index;
}
