@bg-color: #000000;
@font-color: #ff1414;
@modal-bg-color: #dddddd;

html {
  height: 100%;
  body {
    height: 100%;
    background-color: @bg-color;
    color: @font-color;
  }
  div.container{
    min-height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}

ul {
  li {
    list-style-type: none;
    float: left;
    img {
      margin: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
footer{
  clear: both;
}

div#modal {
  position: absolute;
  background: @modal-bg-color;
  top: 150px;
  left: 200px;
  width: 500px;
  height: 350px;
  padding: 20px;
  padding-top: 10px;
  z-index: 10;

  div.modal-name {
    color: #9038a3;
    position: relative;

    span.player-name {
      width: 80%;
      font-weight: bold;
    }

    span.close {
      color: black;
      text-align: center;
      font-size: x-large;
      background: #c9c9c9;
      margin: 0px;
      padding: 0px;
      width: 30px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  div.modal-image {
    float: left;
  }

  div.modal-sidebar {
  }
}

div.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 9;
  background: white;
}

.hide {
  display: none;
}
