<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/load.css">
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/load_image.js"></script>
  </head>
  <body>
    <div id="content">
      <ul id="load-players">
      </ul>
      <div class="operation-buttons">
        <button id="load-image">読み込む</button>
        <button id="delete-image" class="hide">削除</button>
        <button id="cancel-image">やめる</button>
      </div>
    </div>
    <script>
      $(function(){
        var l = new LoadImageDialog();
      });
    </script>
  </body>
</html>

